.card, .card_info, .card_number, .card_text, .card_icon {
    border: 1px solid black;
    /* border: none; */
}

.card {
    display: flex;
    margin: 0px;
    padding: 5px 20px;
    width: 344px;
    text-align: center;
    align-items: center;
}
.card_info {
    width: 70%;
}

.card_number, .card_text {
    font-family: 'Saira';
    text-align: left;
}

.material-icons.card_icon {
    font-size: 48px;
    vertical-align: middle;
}

.material-icons.card_button_icon {
    font-size: 20px;
    vertical-align: baseline;
}

.card_number {
    font-size: 48px;
    vertical-align: bottom;
}

.card_text, .card_button {
    font-size: 24px;
}

.card_icon {
    flex-grow: 1;
    font-size: 48px;
    height: 100%;
    color: #3F82F8;
}

.card_button {
    border: none;
    height: 26px;
    background-color: #3F82F8;
    color: #ffffff;
    text-align: center;
}