.card, .card_info, .card_number, .card_text, .card_icon, table.user, table.user td, table.user th{
    border: 1px solid black;
    /* border: none; */
}

.card {
    display: flex;
    margin: 0px;
    padding: 5px 20px;
    width: 344px;
    align-items: center;
}
.card_info {
    width: 70%;
}

a, .card_number, .card_text, .card_button {
    font-family: 'Saira';
    }

.material-icons.card_icon {
    font-size: 48px;
}

.material-icons.card_button_icon {
    font-size: 50%;
}

.card_number {
    font-size: 48px;
    vertical-align: bottom;
}

.card_text {
    font-size: 20px;
}

.card_icon {
    flex-grow: 1;
    font-size: 48px;
    height: 100%;
    text-align: center;
    color: #3F82F8;
}

.card_button {
    padding: 0% 15%;
    border: none;
    height: 26px;
    width: 120px;
    border-radius: 26px;
    background-color: #3F82F8;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}

table.log, table.log th, table.log td, table.user td, table.tour, table.tour td, table.tour th {
    font-family: 'Saira';
    font-size: 12px;
    /* border-collapse: collapse; */
    /* border: 1px solid black; */
    border: none;
}

table.log, table.tour {
    width: 100%;
    font-size: 100%;
}

table.log tr:nth-child(even) {
    background-color: #eeeeee;
}

table.log tr:nth-child(odd) {
    background-color: #fbfbfb;
}

table.log th {
	background-color: #1abc9c;
    color: #ffffff;
    text-align: left;
}

table.log td {
    text-align: left;
}

table.user {
    width: 100%;
}

table.user th {
    padding-top: 10%;
    padding-bottom: 8%;
}

table.user td {
    padding: 0.4%;
    text-align: center;
}	

.ava {
    border-radius: 50%;
    object-fit: scale-down;
    height: 96px;
    width: 96px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}