
.normal {
    display: table;
    table-layout: fixed;
    margin: 0px;
    border: 1 px solid black;
    padding: 5px 20px;
    height: 28px;
    width: 344px;
    line-height: 100%;
    vertical-align: middle;
}

.overview {
    display: table-cell;
    margin: 0px;
    border: 1 px solid black;
    padding: 0px;
    height: 100%;
    width: 100%;
    line-height: 24px;
    vertical-align: middle;
    font-size: 18px;
    font-family: 'Saira';
}

.t_header {
    display: table-cell;
    /* table-layout: fixed;
    margin: 0px;
    border: 1 px solid black;
    padding: 5px 20px;
    height: 28px;
    width: 344px;
    line-height: 100%; */
    background-color: #249A41;
    color: #ffffff;
    vertical-align: middle;
}

.material-icons.l1 {
    font-size: 48px;
    color: #3F82F8;
}

.material-icons.l2 {
    font-size: 28px;
    color: #3F82F8;
}

.material-icons.l3_add, .material-icons.l3_sub{font-size: 18px;}

.material-icons.l3_add {color: #249A41;}

.material-icons.l3_sub {color: #D6030F;}

.l1_icon, .l1_number, .l2_icon, .l2_number, .l3_icon, .l3_number_add, .l3_number_sub {
    display: table-cell;
    font-family: 'Saira';
    vertical-align: middle;
}

.l1_icon, .l2_icon, .l3_icon {
    text-align: center;
}
.l1_number, .l2_number, .l3_number_add, .l3_number_sub {
    text-align: right;
}

.l1_number {
    color: #3F82F8;
    font-size: 24px;
}

.l2_number {
    color: #3F82F8;
    font-size: 18px;
}

.l3_number_add {
    color: #249A41;
    font-size: 16px;
}

.l3_number_sub {
    color: #D6030F;
    font-size: 16px;
}
