.card, .card_info, .card_number, .card_text, .card_icon {
    border: 1px solid black;
    /* border: none; */
}

.card {
    display: flex;
    margin: 0px;
    padding: 5px 20px;
    width: 344px;
    text-align: center;
    align-items: center;
}
.card_info {
    width: 70%;
}

.card_number, .card_text {
    font-family: 'Saira';
    }

.card_number, .card_text, .card_button {
    font-family: 'Saira';
    }

.material-icons.card_icon {
    font-size: 48px;
    vertical-align: middle;
}

.material-icons.card_button_icon {
    font-size: 50%;
    vertical-align: baseline;
}

.card_number {
    font-size: 48px;
    vertical-align: bottom;
}

.card_text {
    font-size: 20px;
}

.card_icon {
    flex-grow: 1;
    font-size: 48px;
    height: 100%;
    color: #3F82F8;
}

.card_button {
    padding: 0% 15%;
    border: none;
    height: 26px;
    width: 120px;
    border-radius: 26px;
    background-color: #3F82F8;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}

table.log, table.log th, table.log td {
    font-family: 'Saira';
    font-size: 12px;
    /* border-collapse: collapse; */
    /* border: 1px solid black; */
    border: none;
}

table.log {
    width: 100%;
    font-size: 100%;
}

table.log tr:nth-child(even) {
    background-color: #eeeeee;
}

table.log tr:nth-child(odd) {
    background-color: #fbfbfb;
}

table.log th {
	background-color: #1abc9c;
    color: #ffffff;
}

table.log td {
    text-align: left;
}